body {
  font-family: 'Arial', sans-serif;
}

header {
  background-color: #0066CC;
  color: white;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

#search-area {
  margin: 20px;
  text-align: center;
}

#search-box {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #0078ae;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #005f7a;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Use 100% of the viewport height */
  margin: 0;
  /* Reset any default margin */
}

main {
  flex: 1;
  /* This will make the main content expand */
  /* Add your styles for main content here */
}

footer {
  background-color: #0066CC;
  color: white;
  text-align: center;
  padding: 1rem;
  /* Remove position:absolute and bottom:0 if they are still there */
}


.profile-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1em;
  margin: 1em 0;
  text-align: center;
}

.profile-image {
  max-width: 100px;
  /* Adjust as necessary */
  border-radius: 50%;
  margin-bottom: 1em;
}

.profile-card h3 {
  margin: 0.5em 0;
}

.profile-card p {
  margin: 0.5em 0;
}

.profile-card a {
  color: #007BFF;
  /* Or any other color */
  text-decoration: none;
}

.profile-card a:hover {
  text-decoration: underline;
}

#chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; /* Align to the top */
}

.chart {
  width: 100%; /* Full width of its parent */
  margin: 20px 0; /* Margin top and bottom */
}

.chart canvas {
  display: block; /* Remove inline default */
  max-width: 600px; /* Maximum width of each chart */
  height: 250px !important; /* Fixed height for each chart */
  margin: auto; /* Center in the chart container */
}

